<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eyease Service Page</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<div class="Div-Main-Index">

    <div class="Div-Login-Window">
        <label class="Label-Title">사용자 로그인</label>
        <div class="Div-Login-Input">
            <div class="Div-Login-Form">
                <div class="Div-Login">
                    <label class="Label-Login">ID</label>
                    <input class="Input-Login" type="text" placeholder="아이디 입력">
                </div>
                <div class="Div-Login">
                    <label class="Label-Login">PW</label>
                    <input class="Input-Login" type="password" placeholder="비밀번호 입력">
                </div>
            </div>
            <button class="Btn-Login" type="button">로그인</button>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>